body
{
    margin:auto;
    padding:auto;
    background-color: beige;

}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h2{
    font-family:"Lobster";
    color:purple;
    font-style: italic;
    margin-top: 15px;
    
}
/* top | right | bottom | left */
.card {
    margin: auto 35% 15% 35%;
}
